<div class="layout-row layout-wrap">
    {{#each model as |playlist|}}
        <div class="flex-33">
        {{#paper-card as |card|}}
            {{#link-to 'spotify.playlist' playlist.id}}
                {{card.image src=playlist.images.[1].url alt=playlist.name title=playlist.name}}
            {{/link-to}}
            {{#card.actions class="layout-column layout-align-space-around-stretch"}}
                <div class="row playlist-name">
                    {{playlist.name}}<div class="badge"><span>{{playlist.tracks.total}}</span></div>
                </div>
            {{/card.actions}}
        {{/paper-card}}
        </div>
    {{/each}}
</div>


