<div class="layout-row">
  <div class="flex-20">
    <div class="layout-column layout-align-space-between-stretch">
      <div class="flex cent">
        <img src="assets/images/avatar.jpg" class="front-avatar cent">
      </div>
      <div class="flex ink1">
        {{fa-icon "code" size=3 class="front-icon green cent"}}
      </div>
      <div class="flex ink2">
        {{fa-icon "pencil" size=3 class="front-icon orange cent"}}
      </div>
      <div class="flex ink3">
         {{fa-icon "picture-o" size=3 class="front-icon aqua cent"}}
      </div>
    </div>

  </div>
  <div class="flex-70">
    <img src="assets/images/ct.png">
  </div>
</div>
