<div class="layout-row">
    <div class="flex-60">
        <ul class='circle-container'>
          <li>{{#link-to 'index'}}<img src='/assets/images/avatar.png'>{{/link-to}}</li>
          <li><a href="http://blog.carlostighe.com" target="_blank"><img src='../assets/images/ghost.png'></a></li>
          <li>{{#link-to 'index'}}<img src='/assets/images/d3.png'>{{/link-to}}</li>
          <li>{{#link-to 'index'}}<img src='/assets/images/starwars.jpg'>{{/link-to}}</li>
          <li>{{#link-to 'marvel'}}<img src='/assets/images/MARVEL.png'>{{/link-to}}</li>
          <li>{{#link-to 'index'}}<img src='/assets/images/strava.png'>{{/link-to}}</li>
          <li>{{#link-to 'spotify.playlists'}}<img src='/assets/images/Spotify_Icon_RGB_Green.png'>{{/link-to}}</li>
        </ul>
    </div>
    <div class="flex-40">
        <div class="site-name"><h1>CarlosTighe</h1></div>
    </div>
 {{!--  <div class="flex-35"></div>
  {{user-card}}
  <div class="flex-35"></div> --}}
</div>
