<div class="boombox-app">
    <header>
        <h1>BümBöx</h1>
    </header>
        {{liquid-outlet}}
    {{!-- <footer class="ember-view now-playing">
        <span class="now-playing-empty">Select a song to start playing</span>
        <iframe src="https://embed.spotify.com/?uri=spotify:user:erebore:playlist:788MOXyTfcUb1tdw4oC7KJ&theme=white" frameborder="0" allowtransparency="true"></iframe>
    </footer> --}}
</div>